* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

main {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.ver-align {
    display: flex;
    align-items: center;
}

.pt-5 {
    padding-top: 10px;
}

.mb-25 {
    margin-bottom: 25px;
}

.ml-5 {
    margin-left: 5px;
}

/* dropdown.js */
.mdc-list-item {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.mdc-menu-surface--fullwidth {
    width: max-content !important;
}

.mdc-text-field {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mdc-text-field--textarea {
    height: 500px !important;
    width: 100% !important;
}

/* sortable.js */
#nested-sortable {
    border: 1px solid #999;
    border-radius: 10px;
}

.item {
    padding: 10px 15px;
    border-left: 1px solid #999;
    border-radius: 10px;
}

.item:has(.item) {
    border: 1px solid #999;
}

.item:hover {
    border-color: #333;
}

/* TODO: Ensure responsiveness
@media (max-width: 750px) {
    .item {
        padding: 5px 7px;
    }
}
*/