* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/* MDC select list item */
.mdc-list-item {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.mdc-text-field {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mdc-text-field--textarea {
    height: 500px !important;
    width: 100% !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.ver-align {
    display:flex;
    align-items:center;
}